{% extends 'logged/base.html' %}
{% load static %}
{% block title %}
Equipos
{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="contenedor container col-12 mt-5 secondary mb-5">
    <h1 class="mx-auto text-center mt-4">Estos son los equipos que han sido confirmados para el mundial</h1>
    <h4 class="mx-auto text-center">(hasta ahora).</h4>
    <br>
    {% for teams in teams %}
    <a href="{% url 'team_detail' teams.id %}" style="text-decoration: none; color: rgb(255, 255, 255);">
    <div class="tabla container d-flex mb-3 rounded-4 col-11">
        <div class="row col-12 d-flex justify-content-center">
            <img src="{{ teams.flag.url }}" class="flag rounded-circle">
            <h3 class="col-3 my-auto text-center">{{ teams.team_name }}</h3>
            <img src="{{ teams.shield.url }}" class="shield rounded-circle">
        </div>
    </div>
</a>
    {% empty %}
    <div class="tabla container d-flex mb-3 rounded-4">
        <div class="row col-12 d-flex justify-content-center">
            <h3 class="col-10 my-auto text-center">Ups... Aún no se ha confirmado ningún equipo...<i class='bx bxs-sad' style='color:#ffffff' ></i></h3>
        </div>
    </div>
    {% endfor %}
    <h5 class="text-center">Estaremos actualizando esta pantalla conforme nueva información vaya llegando...<br><br><b>Mantente al pendiente...<i class='bx bx-calendar-heart'></i></b></h5>
</div>
{% endblock %}