{% extends 'logged/base.html' %}
{% load static %}
{% block title %}
Canadá
{% endblock %}
{% block content %}
<base href="/">
<br>
<br>
<br>
<div class="container col-12 mt-5 secondary mb-5">
    <h1 class="mx-auto text-center mt-5">Las sedes del munidal en Canadá</h1>
    <br>
    <br>
    <div class="canada col-10 row mx-auto rounded-3" style="background-color: rgb(21, 21, 21);">
        <div class="column col-4 h-75 my-auto">
            <div class="animated-background1 col-12 h-100 w-100 rounded-4 d-flex" style="background-color: #ff3939;">
                <h1 class="mx-auto my-auto">Toronto</h1>
            </div>
        </div>
        <div class="column col-8">
            <h1 class="col-12 text-center mt-3">Toronto</h1>
            <h5 class="col-12 text-center">Toronto ha albergado importantes acontecimientos futbolísticos
                internacionales, desde la primera participación de Canadá en la fase de clasificación para la Copa
                Mundial de la FIFA™ en 1957. Toronto, posiblemente la ciudad más multicultural del mundo, es realmente
                el mundo en una ciudad.</h5>
        </div>
    </div>
    <br>
    <br>
    <div class="canada col-10 row mx-auto rounded-3" style="background-color: rgb(21, 21, 21);">
        <div class="column col-4 h-75 my-auto">
            <div class="animated-background1 col-12 h-100 w-100 rounded-4 d-flex" style="background-color: #ff3939;">
                <h1 class="mx-auto my-auto">Vancouver</h1>
            </div>
        </div>
        <div class="column col-8">
            <h1 class="col-12 text-center mt-3">Vancouver</h1>
            <h5 class="col-12 text-center">Bienvenidos a Vancouver, donde las montañas se encuentran con el océano y el campo. Un destino de primera con un recorrido de récords por grandes eventos deportivos, Vancouver fue ciudad anfitriona de la Copa Mundial Femenina de la FIFA 2015™.</h3>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}