body{
    font-family:'Product_Sans';
    background-image: url("/../Evauacion_Django/WorldCup_2026/static/images/back.gif") !important;
}

input{
    background-color: transparent;
    border: white, 3px, solid;
    color: #C2FF33;
}

input:focus, input:valid{
    outline: none !important;
    box-shadow: none !important;
}

label {
    position: relative;
    top: 0.6rem;
    color: #C2FF33;
    margin-right: 12rem;
    background-color: #1E1E1E;
}

.label-focused {
    top: 0.8rem;
    color: #C2FF33;
    transition: 0.5s ease;
}

.icon-focused {
    color: #C2FF33;
    transition: 0.5s ease;
}