{% extends 'guest/base.html' %}
{% load static %}
{% block title %}
México
{% endblock %}
{% block content %}
<base href="/">
<br>
<br>
<br>
<div class="container col-12 mt-5 secondary mb-5">
    <h1 class="mx-auto text-center mt-5">Las sedes del munidal en México</h1>
    <br>
    <br>
    <div class="mexico col-10 row mx-auto rounded-3" style="background-color: rgb(21, 21, 21);">
        <div class="column col-8">
            <h1 class="col-12 text-center mt-3">Guadalajara</h1>
            <h5 class="col-12 text-center">La ciudad de Guadalajara fue sede en las Copas Mundiales de la FIFA™ de 1970 y 1986, en los Juegos Olímpicos de México 1968 y en los Juegos Panamericanos de 2011</h5>
        </div>
        <div class="column col-4 h-75 my-auto">
            <div class="animated-background3 col-12 h-100 w-100 rounded-4 d-flex">
                <h1 class="mx-auto my-auto">Guadalajara</h1>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="mexico col-10 row mx-auto rounded-3" style="background-color: rgb(21, 21, 21);">
        <div class="column col-4 h-75 my-auto">
            <div class="animated-background3 col-12 h-100 w-100 rounded-4 d-flex">
                <h1 class="mx-auto my-auto">Ciudad de México</h1>
            </div>
        </div>
        <div class="column col-8">
            <h1 class="col-12 text-center mt-3">Ciudad de México</h1>
            <h5 class="col-12 text-center">El fútbol juega un rol muy importante en la tradición de la ciudad y es el más practicado entre sus ciudadanos.</h5>
        </div>
    </div>
    <br>
    <br>
    <div class="mexico col-10 row mx-auto rounded-3" style="background-color: rgb(21, 21, 21);">
        <div class="column col-8">
            <h1 class="col-12 text-center mt-3">Monterrey</h1>
            <h5 class="col-12 text-center">El fútbol forma parte de la cultura de los regiomontanos, y es sede de dos de los equipos y aficiones más relevantes de México. En 1945 se fundó el primer equipo de fútbol profesional de Monterrey, el C.F. Monterrey.</h3>
        </div>
        <div class="column col-4 h-75 my-auto">
            <div class="animated-background3 col-12 h-100 w-100 rounded-4 d-flex">
                <h1 class="mx-auto my-auto">Monterrey</h1>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}