{% extends 'guest/base.html' %}
{% load static %}
{% block title %}
Estados Unidos
{% endblock %}
{% block content %}
<base href="/">
<br>
<br>
<br>
<div class="container col-12 mt-5 secondary mb-5">
    <h1 class="mx-auto text-center mt-5">Las sedes del munidal en Estados Unidos</h1>
    <br>
    <br>
    <div class="united col-10 row mx-auto rounded-3" style="background-color: rgb(21, 21, 21);">
        <div class="column col-8">
            <h1 class="col-12 text-center mt-3">Atlanta</h1>
            <h5 class="col-12 text-center">Atlanta es considerada por muchos como la capital de la cultura, comercio, transporte, educación y deporte en el sur de Estados Unidos.</h5>
        </div>
        <div class="column col-4 h-75 my-auto">
            <div class="animated-background2 col-12 h-100 w-100 rounded-4 d-flex">
                <h1 class="mx-auto my-auto">Atlanta</h1>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="united col-10 row mx-auto rounded-3" style="background-color: rgb(21, 21, 21);">
        <div class="column col-8">
            <h1 class="col-12 text-center mt-3">Boston</h1>
            <h5 class="col-12 text-center">Boston es una ciudad modelo donde personas de todo el mundo se reúnen para vivir, trabajar y jugar. Es una ciudad en donde todos aportan sus valores y tradiciones para redefinir continuamente qué significa ser un bostoniano.</h3>
        </div>
        <div class="column col-4 h-75 my-auto">
            <div class="animated-background2 col-12 h-100 w-100 rounded-4 d-flex">
                <h1 class="mx-auto my-auto">Boston</h1>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="united col-10 row mx-auto rounded-3" style="background-color: rgb(21, 21, 21);">
        <div class="column col-8">
            <h1 class="col-12 text-center mt-3">Dallas</h1>
            <h5 class="col-12 text-center">Con un sistema de fútbol juvenil impresionantemente grande, un estadio increíble y experiencia como sede de Super Bowls y numerosos partidos de selecciones nacionales masculinas y femeninas en los últimos años, Dallas está preparada para la Copa Mundial de la FIFA™.</h3>
        </div>
        <div class="column col-4 h-75 my-auto">
            <div class="animated-background2 col-12 h-100 w-100 rounded-4 d-flex">
                <h1 class="mx-auto my-auto">Dallas</h1>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}